      body {
        margin: 0;
        font-family: Arial, sans-serif;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      .header {
        height: 50px;
        padding: 10px;
        background: rgb(22, 93, 251);
        color: white;
        display: flex;
        justify-content: space-between;
      }
      .search-box {
        width: 50%;
      }
      .search-input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 4px;
      }

      .filter-header{
        width: 70px;
      }

    .filters-button {
        background: rgb(68, 127, 255);
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        height: 100%;
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(0, 102, 204, 0.3);
        transition: all 0.2s;
    }
    .filters-button:hover {
        background: #0052a3;
        box-shadow: 0 4px 12px rgba(0, 102, 204, 0.4);
    }
   
      .main {
        flex: 1;
        display: flex;
      }
      .map-container {
        flex: 1;
        position: relative;
        height: 100%;
        background: #e0e0e0;
      } 

      .compare-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: white;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
      .sidebar {
        width: 300px;
        background: white;
        border-left: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
      }
      .section {
        margin-bottom: 20px;
      }
      .section h3 {
        margin: 0 0 10px 0;
        color: #004080;
      }